.App {
  text-align: center;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.ocr-container{
  display: flex;
  width: 100%;
}

.converter-data{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}


.preview-image-container{
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .3rem;
}
.preview-image-container span{
  align-self: flex-start;
}
.preview-image-container img{
  width: 100%;
  
}

.file-name-container, .image-uploader{
  margin: .5rem 0;
}

.download-list{
  width: 50%;
  display: flex;
  flex-direction: column;
  background: white;
  color: black;
  padding: 0;
  gap: .5rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
}

.file-card{
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  padding: .5rem;
  align-items: center;
  border-radius: 5px;
}

.file-card button{
  padding: 2px;
  border: none;
  background: none;
}

.button{
  background: white;
  color: black;
  padding: .5rem;
  margin: .7rem;

}

